/*.leftcol, .rightcol {display: none;}*/


html {
	background-color: #e0e0e0;
}

body {
    font-family: Source Sans Pro, sans-serif;
	font-size: 14px;
	margin: 0;


}

svg {
	font-family: Source Sans Pro, sans-serif !important;
	font-size: 18px;
}

svg text {

}

#main-content {
	padding-top: 74px
}

#top-row {
    height: 55px;
    border-bottom: 2px solid #e8e8e8;
    margin-bottom: 7px;
    padding-top: 8px;
    position: fixed;
    top: 0px;
    z-index: 3;
    width: 96%;
    max-width: 1300px;
    background-color: #FFF;


}

#container {
	padding: 0px 15px 0px 15px;
	max-width: 1300px;
	margin: 0px auto;
	-webkit-box-shadow: 0px 6px 29px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 29px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 29px -12px rgba(0,0,0,0.75);
	background-color: #FFF;

}

.leftcol {
	width: 33%;
	float:left;
}

.rightcol {
	width: 67%;
	float:right;
}

.widget {
	margin-bottom: 0px;
}

#map {
	width: 100%;
	height: 300px;
}

.mapboxgl-control-container {
	zoom: 70%;
}

#mapcontainer {
	padding-right: 15px;
	padding-top: 2px;
}

#timechart-container {
	position: relative;
}


@media only screen and (max-width: 900px) {

	body { font-size: 12px; }

  #total_entries {
	font-size: 35px !important;
  }

  .title {
	font-size: 12px !important;
	}

	#severity_value,
	#reliability_value {
		font-size: 9px !important;
	}

	.toggle {
		height: 11px !important;
	}

	.subtitle,
	.selectedDate {
		font-size: 11px !important;
	}

	#reliabilityRemoveFilter,
	#severityRemoveFilter {
		height: 12px !important;
	}

}

@media only screen and (max-width: 600px) {

	body { font-size: 11px; }

  #total_entries {
	font-size: 30px !important;
  }

  .title {
	font-size: 10px !important;
	}

	#severity_value,
	#reliability_value {
		font-size: 8px !important;
	}

	.toggle {
		height: 10px !important;
	}

	.subtitle,
	.selectedDate {
		font-size: 8px !important;
	}

	#reliabilityRemoveFilter,
	#severityRemoveFilter {
		height: 12px !important;
		width: 12px !important;
	}

}

@media only screen and (max-width: 420px) {

	body { font-size: 8px; }

  #total_entries {
	font-size: 20px !important;
  }

  .title {
	font-size: 8px !important;
	}

	#severity_value,
	#reliability_value {
		font-size: 6px !important;
	}

	.toggle, {
		height: 8px !important;
	}
	.subtitle
	 {
		visibility: hidden;
	}
	.selectedDate {
		font-size: 6px !important;
	}

	#reliabilityRemoveFilter,
	#severityRemoveFilter {
		height: 10px !important;
		width: 10px !important;
		padding-left: 0px;
	}

}

.header-row {
	position: relative;
}
#total { 

	float: left; 
}

#avg_slider { 
	margin-top: 0px;
    position: absolute;
    right: -3px;
    top: -8px;
}

#timechart-legend {
	position: absolute;
	top: 0px;
	    left: 273px;
}

#avg_slider .ticks {
  font: 10px sans-serif;
}

.avgSliderLabel {
	font-size: 11px;
	font-weight: 100;
}

.sliderIcon {
	opacity: 0.4;
}

#avg_slider .track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 2px;
}

#avg_slider .track-inset {
  stroke: #000;
  stroke-width: 1px;
}

#avg_slider .track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: ew-resize;
}

#avg_slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

#total_entries {
	margin-bottom: 0px;
    font-size: 40px;
    font-weight: bold;
    color: #008974;
    line-height: 0.8;
}


.toggle, .severitytoggle, .reliabilitytoggle { cursor: pointer; }

.contextualRowLine {

}

.removeFilterBtn {
	display: inline;
	opacity: 0;
}

#reliabilityRemoveFilter,
#frameworkRemoveFilter,
#severityRemoveFilter {
	height: 15px;
	padding-left: 3px;
}

#reliabilityRemoveFilter:hover,
#severityRemoveFilter:hover {

}

#frameworkRemoveFilter {
    position: relative;
    top: 20px;
    left: 2px;
    z-index: 10;
}

#severity {
	width: 49%;
	display: inline-block;
	fill: green;
	padding-right: 2%;
	    position: relative;
    top: -4px;
}

#severity svg,
#reliability svg {
	margin-top: 2px;
}

#severitySvg text,
#reliabilitySvg text {
	cursor: pointer;
}

#severity_bars {
	width: 100%;
	margin-top: 2px;
	margin-bottom: 16px;
}

#severity_value {
    color: #008974;
    float: right;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;

}

.severityBar {
	cursor: pointer;
}

#reliability {
	width: 49%;
	display: inline-block;
	fill: red;
	float: right;
	    position: relative;
    top: -4px;
}

#reliability_bars {
	width: 100%;
	margin-top: 2px;
	margin-bottom: 16px;
}

#reliability_value {
    color: #e6550d;
    float: right;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;

}



.header {
	margin-bottom: 9px;
}

.title {
	font-size: 13px;
	font-weight: bold;
	display: inline;
}

.subtitle {
	font-size: 12px;
	font-weight: lighter;
	display: inline;
	padding-left: 3px;
}

.selectedDate {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	padding-left: 14%;
	line-height: 1.3;
    margin-bottom: 0px;
    margin-top: 1px;

}

#n-days {
	opacity: 0;
}

#dateRangeContainer {
	padding-top: 3px;
}

#dateRange {
	margin-left: 1px;
	display: inline;
}

#timeline {
	width: 100%;
	background-color: #FFF;
	margin-bottom: 7px;
}

#timechart-legend {
	width: 170px;
    height: 20px;
    padding-top: 2px;
    float: right;
}

.handle {
	fill: #000;
	width: 2;
}

.selection {
	fill-opacity: 0.01;
	 filter: grayscale(50%);
	 stroke-opacity: 0;
}

#eventDrop {
  clip: rect(10px, 190px, 190px, 10px);
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.sector-icon {
	opacity: 0.3;
}

.grid line,
.contextualRowLine {
  stroke: #6A6A6A;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
  stroke-dasharray: 2 2; 
  stroke-width: 1;
}

.grid path {
  stroke-width: 0;
}

#avg-line {
  stroke-dasharray: 3 3; 
  stroke-width: 1;
  stroke-opacity: 0.4;
  fill: none;
}

.yAxis line,
.yAxis path {
	stroke-opacity: 0;
}

.xAxisHorizontalLine {
	stroke: #2D2E2E;
	  stroke-dasharray: 1 1; 
	  stroke-opacity: .5;
}

.clearfix {
  overflow: auto;
}

#framework-chart {
	width: 100%;
	padding-top: 5px;
}

#framework-chart .title {
	position: relative;
	top: 18px;
}

#framework-chart svg {
	font-size: 15px;
}

#framework-chart svg .frameworkColHeader text {
	font-weight: normal;
}

.cell {
	stroke: #FFF;
	stroke-opacity: 1;
}


#footerRow {
    margin-top: 10px;
}

.footerCol {
	width: 33%;
	display: inline-grid;
}

.col-content {
	padding-top: 6px;
	/*background-color: lightgreen;*/
}

#col1 {
	width: 33%;
}

#col2 {

}

#col3 {
}

#tooltip {
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: 100;
	background-color: #000;
	color: #FFF;
	padding: 1px 4px;
	font-size: 12px;
	font-weight: 12px;
	text-anchor: left;
}

.top-bar text {
	cursor: pointer;
}